" ~/.ideavimrc

if has('unnamedplus')
    set clipboard^=unnamed
    set clipboard^=unnamedplus
endif

" key map
let mapleader = " "

inoremap <silent> jj <ESC>
noremap j gj
noremap k gk

nnoremap gd :action GotoDeclaration<CR>
nnoremap <C-o> :action Back<CR>
nnoremap <C-g> :action FindInPath<CR>
inoremap <C-g> <ESC>:<C-u>action FindInPath<CR>
nnoremap gt :action NextTab<CR>
nnoremap gT :action PreviousTab<CR> 
nnoremap [[ :<C-u>action MethodUp<CR>
nnoremap ]] :<C-u>action MethodDown<CR>
nnoremap <Leader>d :action QuickJavaDoc<CR>
nnoremap <C-w> :action ActivateProjectToolWindow<CR>
nnoremap <Leader>r :action RenameElement<CR>

